body
{
    background-color: #f3f3f3;
}

#page_wrapper
{
    
}

#header_wrapper
{
    background: url("../images/header.jpg");
}

#header_left
{
    float: left;
}
#header_right
{
    float: right;
}

#search
{
    float: right;
}
.search_text{
    color: #d4d4d4;
}

.slideshow_left{
    display: block;
    float: left;
    text-align: left;
}
.slideshow_right{
    display: block;
    float: right;
    padding-bottom: 30px;
}

.slide_title
{
  color: #d63832;
  font-size: 35px;
}

.sort_desc{
    color: #7e130f;
    font-size: 24px;
}
.slide_desc{
    font-size: 14px;
    font-family: arial;
    color: #4c4c4c;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#slide{
    margin-top: 20px;
    margin-left: 20px;
}

.button{
    background: url("../images/button.png");
    background-repeat: no-repeat;
    color: #fff;
    width: 92px;
    height: 33px;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 4px;
    
}
#content_wrapper
{
    margin-top: 25px;
}

#content_wrapper_container
{
    border: 1px;
    
}

#top_panel
{
    background-color: #e9e9e9;
    border-top: 1px solid #afafaf;
    display: block;
    text-align: left;
}
#top_panel_first{
    height: auto;
    float: left;
    padding: 25px;
    width: 190px;
}

#top_panel_first h3{
    font-size: 18px;
    font-family: georgia;
    color: #515151;
    padding-bottom: 20px;
}

#top_panel_first a{
    margin-top: 25px;
    background-image: url("../images/more_info.png");
    background-repeat:  no-repeat;
    text-decoration: none;
    font-style: italic;
    background-position: right;
    color: #969696;
    padding-right: 20px;
    padding-bottom:5px;
}
#top_panel_first p{
    color: #4f4d4d;
    margin-bottom: 20px;
}
.top_panel_items{
    height: auto;
    background: url("../images/top_panel_vertical.png");
    background-repeat: no-repeat;
    width: 190px;
    float: left;
    padding: 25px;
}

.top_panel_items h3{
    font-size: 18px;
    font-family: georgia;
    color: #515151;
    padding-bottom: 20px;
}

.top_panel_items a{
    margin-top: 25px;
    background-image: url("../images/more_info.png");
    background-repeat:  no-repeat;
    text-decoration: none;
    font-style: italic;
    background-position: right;
    color: #969696;
    padding-right: 20px;
    padding-bottom:5px;
}
.top_panel_items p{
    color: #4f4d4d;
    margin-bottom: 20px;;
}

#content
{
    background-color: #ffffff;
    width: 960px;
    height: auto;
    text-align: left;
    
}

#content_left
{
    float: left;
    border: 2px solid #dbdbdb;
    width: 520px;
    float: left;
    margin: 20px 30px 40px 15px;
    padding: 10px 15px 30px 15px;
    
    
}

#content_left_title
{
    background-color: #333333;
    height: 30px;
    width: auto;
    color: #ffffff;
    padding: 5px;
        
}
#content_left_title h3{
   font-family: georgia;
   font-size: 18px;
   padding: 5px; 
   font-weight: normal;
}
.news_content_box_first
{
    display: block;
    margin: 10px 15px 20px 2px;
    padding-bottom: 20px;
    padding-right: 20px;
    
}
.hr
{
    height: 1px;
    background-color:  #ebebeb;
}
.news_content_box
{
    display: block;
    margin: 10px 15px 20px 2px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.news_image{
    border: 5px solid #f3f3f3;
    width: 66px;
    margin-right: 20px;
    float: left;
}
.news_content_wrapper{
    
    color: #555555;
    width: auto ;
   
}
.news_title{
     font-family: georgia;
     font-size: 16px;
     
}
.news_content
{
    font-family: arial;
    font-size: 13px;
    margin-top: 20px;
}
#readmore
{
    margin-top: 40px;
}

#content_right
{
    float:  right;
    margin-top: 20px;
    width: 360px;
    
    
}
#login_box
{
    background: url("../images/login_frame.png");
    background-repeat: no-repeat;
    padding-top: 60px ;
    height:  302px;
}

#login_box ul
{
    margin-left: 15px;
    margin-top: 15px;
    
}
#login_box ul li
{
    margin-top: 5px;
    
}
#login_box ul li a
{
    color: #d8453f;
    text-decoration: none;
    background-image: url("../images/radio.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 30px;
}
#login_information
{
    background-color: #e4e6e9;
    border: 1px solid #c5c8cc;
    width: 270px;
    margin: 15px;
    padding: 5px;
    color: #636363;
    
}
#login_information hr
{
    height: 1px;
    background-color: #c5c8cc;
    margin: 5px;
}

.login_button{
    background: url("../images/button.png");
    background-repeat: no-repeat;
    color: #fff;
    width: 92px;
    height: 33px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-left: 15px;
    padding-top: 4px;
    
}

#tabs
{
    width: 312px;
}
.tabs
{
    margin-left: 0px;
}
.tabs img
{
    margin-right: 15px;
    float: left;
}

.tabs hr
{
    height: 1px;
    background-color: #eeeeee;
    margin: 20px 15px 20px 5px;
    
}

#footer_panel
{
    background: url("../images/footer_panel.png");
    margin-top: 20px;
    padding-bottom: 15px;
    text-align: left;
}


#footer_panel_left{
    float: left;
    background: url("../images/footer_panel_vertical.png");
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 5px;
    text-align: left;
}
#footer_panel_left h2
{
    margin-top: 20px;
    font-family: georgia;
    font-size: 24px;
    color: #5f5f5f;
    font-weight: normal;
    
}
.footer_left_images{
    float: left;
    text-align: center;
    
   
}
.footer_left_images img
{
    border: 7px solid #f3f3f3;
    margin: 10px;
}
#footer_panel_center{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    background: url("../images/footer_panel_vertical.png");
    background-position: right;
    background-repeat: no-repeat;
    text-align: left;
    color: #5f5f5f;
    
}
#footer_panel_center h2
{
    margin: 20px 0 20px 0;
    font-family: georgia;
    font-size: 24px;
    color: #5f5f5f;
    font-weight: normal;
}
.button2{
    background: url("../images/button2.png");
    background-repeat: no-repeat;
    color: #fff;
    width: 92px;
    height: 33px;
    text-decoration: none;
    background-position: center;
    display: block;
    padding-top: 15px;
    overflow: hidden;
    margin-top: 10px;
    
}
#footer_panel_right{
    margin-left: 5px;
}
#footer_panel_right h2
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: georgia;
    font-size: 24px;
    color: #5f5f5f;
    font-weight: normal;
}
#footer_panel_right ul
{
    padding-bottom: 20px;
}
#footer_panel_right ul li a
{
    margin-right: 5px;
    color: #453e3f;
}
.twitter{
	background-image:  url('../images/icon/icon-twitter.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
    width: 30px;
	height: 25px;
	overflow: hidden;
	margin-right: 10px;
    float: left;
}
.facebook{
	background-image:  url('../images/icon/icon-facebook.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
    float: left;
}
.skype{
	background-image:  url('../images/icon/icon-skype.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
    float: left;
}
.vevo{
	background-image:  url('../images/icon/icon-vevo.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
    float: left;
}
.wordpress{
	background-image:  url('../images/icon/icon-wordpress.png');
	background-repeat:  no-repeat;
	display: block;
	text-indent: 9999em;
	overflow: hidden;
    width: 30px;
	height: 25px;
	margin-right: 10px;
    float: left;
}

.person
{
    background-image: url("../images/icon/person.jpg");
    display: block;
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    padding-left: 30px;
    padding-top: 5px;
    margin-bottom: 15px;
    color: #453e3f;
}

.home_phone
{
    background-image: url("../images/icon/home_phone.png");
    display: block;
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    padding-left: 30px;
    padding-top: 5px;
    margin-bottom: 15px;
    color: #453e3f;
}

.mobile_phone
{
    background-image: url("../images/icon/mobile_phone.png");
    display: block;
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    padding-left: 30px;
    padding-top: 2px;
    margin-bottom: 15px;
    color: #453e3f;
}

.address
{
    background-image: url("../images/icon/address.png");
    display: block;
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    padding-left: 30px;
    padding-top: 13px;
    margin-bottom: 15px;
    color: #453e3f;
}

.email
{
    background-image: url("../images/icon/email.png");
    display: block;
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    padding-left: 30px;
    padding-top: -1px;
    margin-bottom: 15px;
    color: #453e3f;
}

#footer
{
    margin-bottom: 15px;
}

.footer_left_link
{
    float: left;
    margin: 5px;
    text-align: left;
    font-family: Calibri;
    font-size:  13px;
    color: #5f5f5f;
}
#footer_left p
{
    font-family: arial;
    font-size: 11px;
    float: left;
    color: #5f5f5f;
}
.footer_left_link a
{
    text-decoration: none;
    color: #5f5f5f;
}

#footer_right{
    float: right;
    text-align: left;
}
#footer_right ul li
{
    float: left;
}
#footer_right h4
{
    color: red;
    margin-left: 5px;
    margin-top: 5px;
    float: left; 
    font-weight: normal;
}
#footer_right ul li
{
    float: left;
    margin-right: 7px;
}
.fblike
{
   background-image: url("../images/fb_like.png"); 
   background-repeat: no-repeat;
   text-indent: 9999em;
   overflow: hidden;
   width: 80px;
   height: 30px;
   display: block;
}
.ggplus
{
   background-image: url("../images/google_plus.png"); 
   background-repeat: no-repeat;
   text-indent: 9999em;
   overflow: hidden;
   width: 80px;
   height: 30px;
   display: block;   
}

.twtfollow
{
   background-image: url("../images/tweeter.png"); 
   background-repeat: no-repeat;
   text-indent: 9999em;
   overflow: hidden;
   width: 80px;
   height: 30px;
   display: block; 
   margin-top: 5px;
}