* {
	margin: 0;
	padding: 0;
}
#tabs {
	font-size: 100%;
	border: 3px solid #eeeeee;
}
#tabs ul {
	float: left;
	background: #eee;
	width: 100%;
	padding-top: 4px;
}
#tabs li {
	margin-left: 8px;
	list-style: none;
}
* html #tabs li {
	display: inline;
}
#tabs li, #tabs li a {
	float: left;
}
#tabs ul li.active {
	border-top:2px #fff solid;
	background: #fff;
 }
#tabs ul li.active a {
	color: #9c9c9c;
}
#tabs div {
	background: #ffffff;
	clear: both;
	padding: 15px;
	min-height: 200px;
    width: 280px;
}
#tabs div h3 {
	margin-bottom: 3px;
    font-style: normal;
    font-weight: normal;
}
#tabs div p {
	line-height: 150%;
    color: #dddddd;
}
#tabs ul li a {
	text-decoration: none;
	padding: 8px;
	color: #9c9c9c;
	font-weight: bold;
}
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-bottom:20px;
	margin-right:20px;
}