<head>
	<meta http-equiv="content-type" content="text/html" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='stylesheet' href='css/reset.css' />
    <link rel='stylesheet' href='css/960_24_col.css' />
    <link rel="stylesheet" type="text/css" href="css/superfish.css" media="screen">
    <link rel='stylesheet' href='css/style.css' />
    <link rel="stylesheet" href="css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="css/tabs.css" type="text/css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    
	<script type="text/javascript" src="js/hoverIntent.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
		<script type="text/javascript">

		// initialise plugins
		jQuery(function(){
			jQuery('ul.sf-menu').superfish();
		});

		</script>
        
        <script type="text/javascript" charset="utf-8">
          $(window).load(function() {
            $('.flexslider').flexslider();
          });
        </script>
        
        <script type="text/javascript">
        $(document).ready(function(){
        $('#tabs div').hide();
        $('#tabs div:first').show();
        $('#tabs ul li:first').addClass('active');
        $('#tabs ul li a').click(function(){ 
        $('#tabs ul li').removeClass('active');
        $(this).parent().addClass('active'); 
        var currentTab = $(this).attr('href'); 
        $('#tabs div').hide();
        $(currentTab).show();
        return false;
        });
        });
        </script>

	<title>Recipro</title>
</head>

<body>
    <center>
    <div id="page_wrapper">
    
        <div id="header_wrapper">
        
            <div id="header_container" class="container_24" >
                <div id="header_left">
                    
                        <div id="logo">
                            <img title="logo" alt="logo" src="images/logo.jpg" />                        
                        </div> <!--End Logo--> 
                                    
                </div> <!--End Left Header-->
                
                <div id="header_right">
                    <div id="menu">
                        <ul class="sf-menu">

                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            
                            <li class="current">
                				<a href="#a">Our Works</a>
                				<ul>
                					<li>
                						<a href="#aa">menu item that is quite long</a>
                					</li>
                					<li class="current">
                						<a href="#ab">menu item</a>
                						<ul>
                							<li class="current"><a href="#">menu item</a></li>
                							<li><a href="#aba">menu item</a></li>
                							<li><a href="#abb">menu item</a></li>
                							<li><a href="#abc">menu item</a></li>
                							<li><a href="#abd">menu item</a></li>
                						</ul>
                					</li>
                					<li>
                						<a href="#">menu item</a>
                						<ul>
                							<li><a href="#">menu item</a></li>
                							<li><a href="#">menu item</a></li>
                							<li><a href="#">menu item</a></li>
                							<li><a href="#">menu item</a></li>
                							<li><a href="#">menu item</a></li>
                						</ul>
                					</li>
                					<li>
                						<a href="#">menu item</a>
                						<ul>
                							<li><a href="#">menu item</a></li>
                							<li><a href="#">menu item</a></li>
                							<li><a href="#">menu item</a></li>
                							<li><a href="#">menu item</a></li>
                							<li><a href="#">menu item</a></li>
                						</ul>
                					</li>
                				</ul>
                			</li>
                            
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">The Blog</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Portfolio</a></li>
                        </ul>
                    </div> <!--End Menu-->
                    
                    <div id="search">
                        <input class="search_text" type="text" name="txt_search" value="Search this pages" />
                        <input type="button" name="cmd_search" value="Search" />
                    </div> <!--End Search-->
                                    
                </div> <!--End Right Header-->
                            
            </div> <!--End Container-->
                    
        </div> <!--End Header-->
        
        <div id="content_wrapper">
            <div id="content_wrapper_container" class="container_24">
               
                <div class="flexslider">
                
                    <ul class="slides" id="slide">
                        <li>
                          <div class="slideshow_left grid_11">
                            <p class="slide_title">TRACK YOUR ACTIVITY</p>
                            <p class="sort_desc">Check our smart training systems.</p>
                            <p class="slide_desc">Far this notable inside desirable dishonestly giraffe goodness goodness spelled chromatic much and the in this gosh tolerably greyhound elusive well rid some much cravenly artificially warthog as because famously gosh barring wept foully wow amoral goodness.</p>
                            <a class="button" href="#">Read more</a>
                          </div> <!--End Slideshow Left-->
                         
                          <div class="slideshow_right grid_12">
                            <img src="images/image.jpg" alt="slide1.jpg" />
                          </div> <!--End SlideshowRight-->
                          
                        </li>
                        
                        <li>
                          <div class="slideshow_left grid_11">
                            <p class="slide_title">TRACK YOUR ACTIVITY</p>
                            <p class="sort_desc">Check our smart training systems.</p>
                            <p class="slide_desc">Far this notable inside desirable dishonestly giraffe goodness goodness spelled chromatic much and the in this gosh tolerably greyhound elusive well rid some much cravenly artificially warthog as because famously gosh barring wept foully wow amoral goodness.</p>
                            <a class="button" href="#">Read more</a>
                          </div> <!--End Slideshow Left-->
                         
                          <div class="slideshow_right grid_12">
                            <img src="images/image.jpg" alt="slide1.jpg" />
                          </div> <!--End SlideshowRight-->
                          
                        </li>
                        
                        <li>
                          <div class="slideshow_left grid_11">
                            <p class="slide_title">TRACK YOUR ACTIVITY</p>
                            <p class="sort_desc">Check our smart training systems.</p>
                            <p class="slide_desc">Far this notable inside desirable dishonestly giraffe goodness goodness spelled chromatic much and the in this gosh tolerably greyhound elusive well rid some much cravenly artificially warthog as because famously gosh barring wept foully wow amoral goodness.</p>
                            <a class="button" href="#">Read more</a>
                          </div> <!--End Slideshow Left-->
                         
                          <div class="slideshow_right grid_12">
                            <img src="images/image.jpg" alt="slide1.jpg" />
                          </div> <!--End SlideshowRight-->
                          
                        </li>
                        
                        <li>
                          <div class="slideshow_left grid_11">
                            <p class="slide_title">TRACK YOUR ACTIVITY</p>
                            <p class="sort_desc">Check our smart training systems.</p>
                            <p class="slide_desc">Far this notable inside desirable dishonestly giraffe goodness goodness spelled chromatic much and the in this gosh tolerably greyhound elusive well rid some much cravenly artificially warthog as because famously gosh barring wept foully wow amoral goodness.</p>
                            <a class="button" href="#">Read more</a>
                          </div> <!--End Slideshow Left-->
                         
                          <div class="slideshow_right grid_12">
                            <img src="images/image.jpg" alt="slide1.jpg" />
                          </div> <!--End SlideshowRight-->
                          
                        </li>
                        
                        <li>
                          <div class="slideshow_left grid_11">
                            <p class="slide_title">TRACK YOUR ACTIVITY</p>
                            <p class="sort_desc">Check our smart training systems.</p>
                            <p class="slide_desc">Far this notable inside desirable dishonestly giraffe goodness goodness spelled chromatic much and the in this gosh tolerably greyhound elusive well rid some much cravenly artificially warthog as because famously gosh barring wept foully wow amoral goodness.</p>
                            <a class="button" href="#">Read more</a>
                          </div> <!--End Slideshow Left-->
                         
                          <div class="slideshow_right grid_12">
                            <img src="images/image.jpg" alt="slide1.jpg" />
                          </div> <!--End SlideshowRight-->
                          
                        </li>
                        
                                                
                      </ul>
                
                
                
                      
                      
                </div> <!--End slideshow-->
               
                <div class="container_24" id="top_panel">
                    <ul>
                        <li>
                            <div id="top_panel_first">
                                <h3>ABOUT US</h3>
                                <p>The rakishly despite dense yikes bandicoot much along a barring as and powerlessly jeez yikes meretriciously eagle far eel inside fiendish yellow alas ouch dashingly... </p>
                                <a href="#" title="More Info">more info</a>
                            </div>
                        </li>
                        
                        <li>
                            <div class="top_panel_items">
                                <h3>OUR PRODUCTS</h3>
                                <p>Beyond hung oh manatee frequently misheard noiselessly considering some goodness jeez spoon-fed far ouch so this set a sardonic more because petted much goodness.</p>
                                <a href="#" title="More Info">more info</a>
                            </div>
                        </li>
                        
                        <li>
                            <div class="top_panel_items">
                                <h3>LASTEST WORKS</h3>
                                <p>Fishily hawk goodness when near until lion whimsically browbeat towards much ouch respectful by far hawk did after llama instantaneously that save upon mandrill ...</p>
                                <a href="#" title="More Info">more info</a>
                            </div>
                        </li>
                        
                        <li>
                            <div class="top_panel_items">
                                <h3>OUR SERVICES</h3>
                                <p>Ouch less hamster ahead immorally hey bit the ouch nudged hey amongst yikes as concise wound lemur fumed activated much sobbed hawk hello this that began wherever... </p>
                                <a href="#" title="More Info">more info</a>
                            </div>
                        </li>
                    </ul>
                </div> <!--End Top Panel-->
                
                <div id="content" class="container_24">
                                                           
                        <div id="content_left">
                        
                            <div id="content_left_title">
                                <h3>LASTEST NEWS</h3>
                            </div> <!--End content title-->
                            
                            <ul>
                                <li class="news_content_box_first">
                                    <div class="news_image">
                                        <img title="image" alt="image" src="images/news_image.jpg" />
                                    </div> <!--End News image-->
                                    <div class="news_content_wrapper">
                                        <p class="news_title">Far this notable inside desirable dishonestly</p>
                                        <p class="news_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque neque arcu, sagittis a mollis et, auctor fringilla risus. </p>
                                        
                                    </div> <!--End News content-->
                                </li>
                                <hr class="hr"/>
                                <li class="news_content_box">
                                    <div class="news_image">
                                        <img title="image" alt="image" src="images/news_image.jpg" />
                                    </div> <!--End News image-->
                                    <div class="news_content_wrapper">
                                        <p class="news_title">The rakishly despite dense yikes bandicoot much along</p>
                                        <p class="news_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque neque arcu, sagittis a mollis et, auctor fringilla risus.</p>
                                        
                                    </div> <!--End News content-->
                                </li>
                                <hr class="hr"/>
                                <li class="news_content_box">
                                    <div class="news_image">
                                        <img title="image" alt="image" src="images/news_image.jpg" />
                                    </div> <!--End News image-->
                                    <div class="news_content_wrapper">
                                        <p class="news_title">Beyond hung oh manatee frequently misheard</p>
                                        <p class="news_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque neque arcu, sagittis a mollis et, auctor fringilla risus. </p>
                                        
                                    </div> <!--End News content-->
                                </li>
                                <hr class="hr" />
                                <li class="news_content_box">
                                    <div class="news_image">
                                        <img title="image" alt="image" src="images/news_image.jpg" />
                                    </div> <!--End News image-->
                                    <div class="news_content_wrapper">
                                        <p class="news_title">Ouch less hamster ahead immorally hey bit the ouch</h4>
                                        <p class="news_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque neque arcu, sagittis a mollis et, auctor fringilla risus. </p>
                                        
                                    </div> <!--End News content-->
                                </li>
                                <hr class="hr" />
                                                               
                            </ul>
                            
                                                        
                            <a href="#" class="button" id="readmore">Read more</a>
                            
                        
                        </div> <!--End Left Content-->
                        
                        <div id="content_right">
                            
                            <div id="login_box">
                            
                                <div id="login_information">
                                    Username <input name="txt_username" type="text"/>
                                    <hr />
                                    Password <input type="password" name="txt_password" />
                                </div> <!--End Login Information-->
                                
                                <a class="login_button" href="#">Login</a>
                                
                                <ul>
                                    <li><a title="Forgot your password" href="#">Forgot your password?</a></li>
                                    <li><a title="Forgot your username" href="#">Forgot your username?</a></li>
                                </ul>
                            
                            
                            </div> <!--End Login Form-->
                            
                            <div id="tabs"> <!--Sua lai dung Tabs Jquery-->
                                <ul>
                                      <li><a href="#tab-1">Lastest</a></li>
                                      <li><a href="#tab-2">Popular</a></li>
                                      <li><a href="#tab-3">Comments</a></li>
                                </ul>
                                
                                <div id="tab-1" class="tabs">
                                
                                    <img src="images/content_image.png" />
                                    <h3>Thumbnail Hover State Overlay</h3>
                                    <p>By John Doe</p>
                                    <hr />
                                    
                                    <img src="images/content_image2.png" />
                                    <h3>Hello, we're ThemeBrain</h3>
                                    <p>By John Doe</p>
                                    <hr />
                                    
                                    <img src="images/content_image3.png" />
                                    <h3>Web Design Services</h3>
                                    <p>By John Doe</p>
                                    
                                </div>
                                
                                <div id="tab-2">
                                </div>
                                
                                <div id="tab-3">
                                </div>
                                
                            </div> <!--End Tab-->
                            
                        
                        </div> <!--End Right Content-->
                    
                </div> <!--End Content-->
            </div> <!--End Content Wrapper Container-->
        </div> <!--End Content Wrapper-->
        
        <div id="footer_panel">
            <div id="footer_panel_container" class="container_24">
                <div id="footer_panel_left" class="grid_8">
                    <h2>Photo Gallery</h2>
                    <div class="footer_left_images">
                        <img class="footer_left_images" alt="image" title="image" src="images/news_image.jpg" />
                        <img class="footer_left_images" alt="image" title="image" src="images/news_image.jpg" />
                        <img class="footer_left_images" alt="image" title="image" src="images/news_image.jpg" />
                        <img class="footer_left_images" alt="image" title="image" src="images/news_image.jpg" />
                        <img class="footer_left_images" alt="image" title="image" src="images/news_image.jpg" />
                        <img class="footer_left_images" alt="image" title="image" src="images/news_image.jpg" />
                        <img class="footer_left_images" alt="image" title="image" src="images/news_image.jpg" />
                        <img class="footer_left_images" alt="image" title="image" src="images/news_image.jpg" />
                        <img class="footer_left_images" alt="image" title="image" src="images/news_image.jpg" />
                    </div>
                </div> <!--End Left Footer-->
                    
                <div id="footer_panel_center" class="grid_10">
                    <h2>Template Information</h2>
                    <p>Far this notable inside desirable dishonestly giraffe goodness goodness spelled chromatic much and the in this gosh tolerably greyhound elusive well rid some....</p>
                    <h2>Demo Information</h2>
                    <p>Far this notable inside desirable dishonestly giraffe goodness goodness spelled chromatic much and the in this gosh tolerably greyhound elusive well rid some much cravenly artificially warthog as because famously gosh barring wept foully wow amoral goodness.</p>
                    
                    <a href="#" title="Read More" class="button2"></a>
                </div> <!--End Center Footer-->
                
                <div id="footer_panel_right">
                    <h2>Connect with</h2>
                    <ul>
                        <li><a href="#" class="twitter">Twitter</a></li>
                        <li><a href="#" class="skype">Skype</a></li>
                        <li><a href="#" class="facebook">Facebook</a></li>
                        <li><a href="#" class="wordpress">Wordpress</a></li>
                        <li><a href="#" class="vevo">Vevo</a></li>
                    </ul>
                    
                    <h2>Contact Detail</h2>
                    <ul>
                        <li class="person">Geekpolis</li>
                        <li class="home_phone">+12345678910</li>
                        <li class="mobile_phone">+12345678910</li>
                        <li class="address">Eligton Road, Light Boulevard, New York, New York</li>
                        <li class="email">Support@geekpolis.com</li>
                    </ul>
                    
                </div> <!--Right Footer-->
            </div> <!--End Footer Panel Container-->
               
        </div> <!--End Footer Panel-->
        
        <div id="footer">
            <div class="container_24">
                <div id="footer_left" class="grid_12">
                    <ul>
                        <li class="footer_left_link"><a href="#" title="Home">Home</a></li>
                        <li class="footer_left_link"><a href="#" title="Pages">Pages</a></li>
                        <li class="footer_left_link"><a href="#" title="Services">Services</a></li>
                        <li class="footer_left_link"><a href="#" title="Portfolio">Portfolio</a></li>
                        <li class="footer_left_link"><a href="#" title="Blog">Blog</a></li>
                        <li class="footer_left_link"><a href="#" title="Contact">Contact</a></li>
                    </ul>
                    <br />
                    <p>&copy 2011 Recipro Drupal Theme designed by Geekpolis.com</p>
                </div> <!--End Left Footer-->
                
                <div id="footer_right" class="grid_9">
                    <ul>
                        <li class="fblike"><a href="#" title="Facebook Like">Facebook</a></li>
                        
                        <li class="ggplus"><a href="#" title="Google Plus">Google</a></li>
                        
                        <li class="twtfollow"><a href="#" title="Follow me">Tweeter</a></li>
                                        
                    </ul>
                    <h4>@Geekpolis</h4>
                </div> <!--End Right Footer-->
                
            </div> <!--End Footer Container-->
       
        </div> <!--End Footer-->
        
    
    </div> <!--End Page Wrapper-->
    </center>
</body>
</html>